export(check_deployment_models)
export(convert_units)
export(correct_time)
export(fit_actmodel)
export(fit_detmodel)
export(fit_speedmodel)
export(get_agouti_url)
export(get_multiplier)
export(get_parameter_table)
export(get_traprate_data)
export(get_trap_rate)
export(lnorm_confint)
export(plot_deployment_schedule)
export(map_deployments)
export(map_traprates)
export(read_camtrap_dp_csv)
export(read_camtrapDP)
export(rem)
export(rem_estimate)
export(select_species)
export(slice_camtrap_dp)
export(write_rem_csv)
importFrom(dplyr,"%>%")
importFrom(rlang, .data)
