import(methods)
export(plot_deployment_schedule)
export(subset_deployments)
export(correct_time)
export(select_species)
export(check_deployment_models)
export(fit_speedmodel)
export(fit_actmodel)
export(fit_detmodel)
export(get_rem_data)
export(get_trap_rate)
export(lnorm_confint)
export(get_parameter_table)
export(get_multiplier)
export(convert_units)
export(rem)
export(rem_estimate)
